---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Updates</h1>

  <div class="post-list">
    {% for post in site.categories.blog limit:3 %}
      <div class="post">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {{ post.excerpt }}
      </div>
    {% endfor %}
  </div>

  <hr>
  
  <h1 class="page-heading">Newest Issues</h1>
  <p>The 5 most recently added issues are:</p>
  <div class="post-list">
    {% for post in site.categories.issue limit:5 %}
      <p class="post">
        <strong>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </strong>
        &nbsp;&mdash;&nbsp;
        <span>{{ post.excerpt| remove: '<p>' | remove: '</p>' }}</span>
      </p>
    {% endfor %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
