---
layout: page
---
{% for tag in page.tag %}
  {% comment %}
    This next line looks ugly, but if we used site.tags[tag], concat: q would fail on empty tags
  {% endcomment %}
  {% assign q = site.tags | map: tag | first %}
  {% assign posts = posts | concat: q %}
{% endfor %}

{% assign posts = posts | uniq | sort: 'date' | reverse %}
{% for post in posts %}
  <h2>{{post.title}}</h2>
  {% if post.image %}
  <p class="text-center">
  {%- for image in post.image -%}
  {%- assign filename = image | split: '.' | first -%}
  <img src="http://images.neopets.com/items/{{filename}}.gif" alt="{{filename}}">
  {%- endfor -%}
  </p>
  {% endif %}
  {{post.content}}
{% unless forloop.last %}<hr>{% endunless %}
{% endfor %}

{% assign issues = posts | size %}
{% unless issues > 0 %}
<p>There are no issues tagged <code>{{page.tag | join: '</code> or <code>' }}</code>!
{% endunless %}

{% unless content == blank %}
<hr>
{{ content | markdownify }}
{% endunless %}
